lpips
omegaconf
transformers
safetensors
accelerate
imageio
imageio[ffmpeg]
PyMCubes
trimesh
megfile
opencv-python
optimum
httpx[socks]
tensorboard
Pillow
einops
huggingface-hub
gradio
xatlas
moderngl
datasets
diffusers
jaxtyping
joblib
lightning-utilities
matplotlib
numpy
pandas
plyfile
pyparsing
pytorch-lightning
PyYAML
scikit-image
scipy
tensorboard
tensorboardX
timm
tokenizers
tqdm
spaces
accelerate
wandb
typeguard
git+https://github.com/tatsy/torchmcubes.git